HF_TOKEN="Your Hugging Face Token"
CARTESIA_API_KEY="Your Cartesia API KEY"
DAILY_TOKEN="Your Daily CO API Key"
PYTORCH_CUDA_ALLOC_CONF=expandable_segments:True,max_split_size_mb:32
VLLM_TENSOR_PARALLEL_SIZE=2
VLLM_GPU_MEMORY_UTILIZATION=0.5